.grid {
  background-color: #000;
  display: grid;
  height: 100vh;
  gap: 5px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  place-content: end center;
}

.header {
  background-color: green;
}
.content {
  background-color: royalblue;
}
.nav {
  background-color: purple;
}
.footer {
  background-color: orange;
}
